

.banner {
    &-section {
    }

    &-container {
        width: 100%;
        height: 900px;
        max-height: 900px;

        background: $light-blue;
        position: relative;
        transition: 0.3s ease;

        .card-info--container {
            width: 577px;
            height: max-content;
            min-height: 427px;
            transition: 0.5s ease;

            position: absolute;
            bottom: -60px;
            left: 68px;
        }

        .card-info {
            padding: 80px 80px 28px 80px;
            background: $light-blue;
            min-height: inherit;
        }
    }


    &-background {
        width: 100%;
        height: 100%;
        max-height: 900px;
        object-fit: cover;

        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }
}


@media only screen and (max-width: $md)  {
    .banner {
        &-section {
            height: 527px;
            margin-bottom: 56px;
        }
        &-container {
            min-height: 344px;
            height: 50vw;

            .card-info--container {
                left: 50%;
                top: 40%;
                transform: translate(-50%);
            }

            .card-info {
                /*padding: 24px 24px 20px 24px;*/
            }
        }
    }
}

@media only screen and (max-width: $md-below)  {
    .banner {
        &-section {
            margin-bottom: 56px;
            min-height: 527px;
            max-height: unset;
            height: max-content;
            overflow-x: hidden;
        }
        &-container {

            max-height: unset;
            height: max-content;
            background: transparent;

            .card-info--container {
                width: 577px;
                min-height: 363px;

                position: unset;
                transform: unset;
                margin: 0 auto;
                margin-top: -40%;
            }

            .card-info--outline {
                display: none;
            }

            .card-info {
                padding: 80px 80px 28px 80px;
            }
        }
    }
}


@media only screen and (max-width: $sm-below)  {
    .banner {
        &-container {
            .card-info--container {
                width: 327px;
            }

            .card-info {
                padding: 24px 24px 20px 24px;
            }
        }
    }
}


@media only screen and (max-width: $xxs) {
    .banner {
        &-container {
            .card-info--container {
                width: 300px;
            }
        }
    }
}

