
.burger-menu {
    &,
    &::before,
    &::after {
        width: 100%;
        background: $black;
        border-radius: 200px;
        height: 2px;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        transition: .3s ease;
    }

    &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        transition: .3s ease;
    }


    &-container {
        width: 14px;
        height: 10px;

        display: flex;
        align-items: center;
        position: relative;

        &.active {
            transform: rotate(45deg);
        }

        &.active .burger-menu {
            visibility: hidden;

            &::before {
                visibility: visible;
                width: 100%;
                top: 3px;
                transform: rotate(90deg);
            }

            &::after {
                visibility: visible;
                width: 100%;
                top: 3px;
                transform: rotate(180deg);
            }
        }
    }
}