
.btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    border: 0;
    background-image: none;

    &:not(.btn-lg):not(.btn-sm):not(.btn-tag) {
        height: 40px;
    }

    &:focus,
    &:active {
        outline: 0 !important;
    }

    &-radius {
        border-radius: 27px;
    }

    &-tag {
        height: 32px;
        font-weight: normal;
        color: $black;
        background: $dark-blue;
        display: flex;
        width: max-content;
        align-items: center;

        &:hover,
        &:active,
        &:focus {
            background: $blue;
            color: $white;
            font-weight: 600;
        }
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        box-shadow: none;

        line-height: 24px;
        text-decoration: none !important;
        color: $black;
        font-weight: 600;
        font-size: 16px;
    }

    &-lg {
        padding: 12px 24px;
        height: 48px;
    }

    &-pt-0 {
        padding-top: 0;
        padding-bottom: 0;
    }

    &-outline {
        color: $black;
        border: 2px solid;
        background: transparent;
    }
}
