

.card {
    &-section {
        display: flex;
        overflow: hidden;
        overflow-x: auto;

        margin-top: -148px;
        position: relative;
        justify-content: flex-start;

        @media only screen and (min-width: $xl)  {
            justify-content: center;
        }
    }

    &--direction-column {
        overflow: hidden;

        .card-info--container:not(.card-info--column-3) {
            max-width: 296px;
            width: 100%;
        }

        .card-info--container.card-info--column-3 {
            height: max-content;
            min-height: max-content;
        }

        .card-info--container {
            height: 100%;
            min-height: 296px;
        }

        .card-section--container {
            width: 100%;
        }
    }

    &-section--container {
        padding: 16px 0;
        display: flex;
    }

    &-info {
        height: 100%;
        width: 100%;
        z-index: 2;
        position: relative;

        padding: 40px 40px 28px 40px;
        color: $black;

        .btn.btn-link {
            justify-content: flex-start;
        }

        .icon {
            margin-left: 16px;
        }
    }

    &-info--outline {
        border: 2px solid;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 16px;
        left: 16px;
    }

    &-info--container {
        position: relative;
        height: 296px;
        width: 296px;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &:last-child {
            margin-right: 68px;
        }

        &:first-child {
            margin-left: 68px;
        }
    }

    &-info--column-3 {
        /*width: calc(296px * 3.5);*/
        /*width: calc(296px * 3);*/
        width: 100%;
    }

    &-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
        color: $black;
    }

    &-description {
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 20px;
        color: $black;
    }

    &-item {
        display: flex;
        flex-wrap: wrap;

        &--mb {
            margin-bottom: 24px;
        }
    }

    &-key {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-right: 8px;
    }

    &-value {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    &-article {
        padding: 36px 40px;
        max-height: unset !important;
        min-height: 316px !important;
        border: 2px solid $black;
        background: $white;

        &--title {
            color: $black;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }

        .btn.btn-link {
            justify-content: flex-start;
        }
    }
}

.qna {
    &-container {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &-item {
        a {
            text-decoration-line: underline;
            font-weight: normal;
            font-size: 16px;
            line-height: 32px;
            color: $black;
        }

        &::before {
            content: '';
            width: 8px;
            height: 8px;
            background: $pink;
            display: inline-block;
            border-radius: 100%;
            margin-right: 14px;
        }
    }
}

@media only screen and (max-width: $sm-below) {
    .card {
        &-info--container {
            &:last-child {
                margin-right: 24px;
            }

            &:first-child {
                margin-left: 24px;
            }
        }


        &--direction-column {
            overflow: hidden;

            .card-info--container {
                width: 100%;
                max-width: 100% !important;
            }

            .card-section--container {
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 16px 24px;
            }

            .card-info--container {
                width: 100%;
                margin-left: 0 !important;
                margin-right:0 !important;
                margin-top:0 !important;
                margin-bottom: 32px;
            }

            .card-info--column-3 {
                min-height: calc(296px * 2);
            }
        }
    }
}

@media only screen and (max-width: $xxs) {
    .card {
        &-info--outline {
            border: 2px solid;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 16px;
            left: 10px;
        }

        &-info--container {
            &:last-child {
                margin-right: 8px;
            }

            &:first-child {
                margin-left: 8px;
            }
        }
    }
}

@media only screen and (max-width: $md) {
    .card {
        &-section {
            margin-top: 0;
        }
    }
}
