
main {
    border: 1px solid transparent;
}

body {
    overflow-x: hidden;
}

.language {
  &-container {
    position: relative;
    margin-right: 38px;
  }

  &-selection {
    display: none;

    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
    font-size: 16px;

    position: absolute;
    padding: 15px;
    background: $light-blue;
    left: 0;

    &::after {
      z-index: -1;
      border: 2px solid;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 16px;
      left: 16px;
      content: "";
    }

    &:hover {
      display: block;
    }
  }

  &-selected {
    list-style: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 60px;

    &:hover + .language-selection {
      display: block;
    }

    &:after {
      content: '\e902';
      font-family: 'icomoon';
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      text-transform: none;
      line-height: 1;
      margin-left: 5px;
      font-size: 24px;
      vertical-align: middle;
    }
  }

  &-option {
    cursor: pointer;
    line-height: 28px;
    a {
      color: $black;
    }
    /*display: none;*/
  }
}

.custom-scrollbar {
    ::-webkit-scrollbar {
      width: 14px;
      height: 18px;
    }

    ::-webkit-scrollbar-thumb {
      height: 6px;
      border: 5px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      background-color: #827d7d4f;
      -webkit-border-radius: 50px;
      -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
        inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }

    ::-webkit-scrollbar-button {
      display: none;
      width: 0;
      height: 0;
    }

    ::-webkit-scrollbar-corner {
      background-color: transparent;
    }
}

@keyframes animatetop {
    from {
        /*top: -300px;*/
        opacity: 0;
        transform: translateY(0);
    }
    to {
        top: 0;
        opacity: 1;
        transform: translateY(100px);
    }
}

@keyframes animatetopback {
    from {
        top: 0;
        opacity: 1;
        transform: translateY(100px);
    }
    to {
        /*top: -300px;*/
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes animateFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animateFadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
