.main-footer {
    height: 200px;
    background: $white;

    display: flex;
    flex-direction: column;

    .container-fluid {
        margin: auto 0;
    }

    /*border: 1px solid;*/
}

.terms-condition-text {
    text-align: center;
    padding: 0;

    a {
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: $black;
    }
}

.social-media {
    &--container {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        margin-top: 44px;
    }

    &--link {
        display: flex;
        align-items: center;

        &:not(:last-child) {
            margin-right: 36px;
        }

        &:first-child {
            margin-left: unset;
        }

        a {
            color: $black;
            font-size: 24px;
        }

        a:hover {
            text-decoration: none;
        }
    }
}

.footer {
    &-visual {
        overflow-x: hidden;
        min-height: 464px;
        width: 100%;
        color: $black;

        .row {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        .vector-layout {
            margin-top: -160px;
        }

        .container-fluid {
            background: $light-green;
            padding: 0 4px 54px;
            margin-top: 160px;
        }
    }

    &-label {
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
    }

    &-action {
        margin-left: -15px;
        margin-right: -15px;

        .btn.btn-lg {
            padding: 10px 16px;
        }

        button:not(:last-child) {
            margin-right: 12px;
        }
    }

    &-logo {
        width: 44.19px;
        height: 50px;
    }

    &-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 36px;

        > *:not(:last-child) {
            margin-bottom: 36px;
        }
    }

    &-partner {
        width: 100%;
    }

    &-partner-container {
        height: max-content;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        margin: 56px -15px;
    }

    &-partner-image-container {
        margin: 16px;

        img {
            max-height: 48px;
        }
    }
}


@media only screen and (min-width: $md)  {
    .main-footer {
        height: 164px;

        .container-fluid {
            display: flex;
            align-items: center;
        }
    }

    .social-media {
        &--container {
            margin: 0;
        }

        &--link {
            &:first-child {
                margin-left: auto;
            }
        }
    }

    .terms-condition-text {
        text-align: left;

        a {
            line-height: 32px;
        }
    }

    .footer {
        &-visual {
            background: $light-green;

            .row {
                flex-direction: row;
            }

            .vector-layout {
                margin-top: 8px;
            }

            .container-fluid {
                padding: 0;
                margin-top: 0;
            }
        }

        &-label {
            font-weight: 600;
            font-size: 40px;
            line-height: 49px;
            text-align: left;
        }

        &-action {
            margin: 0;

            .btn.btn-lg {
                padding: 12px 24px;
            }
        }

        &-details {
            margin-top: 0;
            align-items: flex-start;
        }

        &-partner-container {
            justify-content: space-between;
            margin: 132px 0;
        }

        &-partner-image-container {
            margin: 16px 0;

            img {
                max-height: max-content;
            }
        }
    }
}
