

.grid {
    &-wrapper {
        /*overflow: hidden;*/
    }

    &-section {
        margin: 62px 0;

        .container-fluid {
            overflow: hidden;
        }
    }

    & {
        margin: 20px;
        max-width: 355px;
        min-width: 355px;
        /*max-height: 340px;*/
        min-height: 274px;
        overflow-y: hidden;
    }

    &--content-page {
        margin: 73px 0 0;
    }

    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 -20px;
    }

    &-title {
        margin-bottom: 25px;
        width: max-content;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        color: $black;
    }

    &-desc {
        margin-top: 14px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: $black;
    }

    &-long-desc {
        margin-top: 4px;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
    }

    &-content, img {
        max-width: 355px;
        min-width: 355px;
        /*max-height: 274px;*/
        min-height: 274px;
        object-fit: cover;

        /*border: 1px solid;*/
    }

    &-content {
        max-height: 340px;
    }

    img {
        max-height: 274px;
    }
}

@media only screen and (max-width: $md)  {
    .grid {
        &-wrapper {
            padding: 0 0 0 5px;
        }

        & {
            margin: 16px;
            max-width: 345px;
            min-width: 345px;
        }

        &-content, img {
            max-width: 345px;
            min-width: 345px;
        }

        &-section {
            margin: 56px 0;
        }

        &--content-page {
            margin: 56px 0 0;
        }
    }
}

@media only screen and (max-width: $sm-below)  {
    .grid {
        &-container {
            justify-content: center;
        }

        &-card {
            margin: 8px 16px;
        }
    }
}


@media only screen and (max-width: $xxs) {
    .grid {

        min-width: 300px;

        &-content  {
            min-width: 300px;
        }

        img {
            max-width: 300px;
            min-width: 300px;
        }
    }
}
