

input.form-control.form-control {
    border-radius: 27px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    border: 2px solid $black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $black !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $black !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $black !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $black !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: $black !important;
}