
.main {
    &-title {
        font-weight: 600;
        font-size: 40px;
        line-height: 49px;
        color: $black;
        margin-top: 124px;
        margin-bottom: 40px;
    }

    &-visual {
        height: 700px;
        overflow: hidden;
        background: $light-yellow;
        /*background: $dark-yellow;*/

        &--column {
            padding: 0;
        }

        button.btn.btn-search.btn-search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            margin-left: 8px;
        }

        input {
            background: $light-yellow;
        }
    }

    &-description {
        margin-bottom: 32px;
    }

    &--content-page {
        height: max-content;
        min-height: 252px;
        background: transparent;

        .main-title {
            margin-top: 88px;
            margin-bottom: 24px;
        }
    }

    &--tricks-page {
        height: max-content;
        min-height: 481px;

        .main-title {
            margin-top: 133px;
            margin-bottom: 24px;
        }
    }

    &--help-page {
        height: max-content;
        min-height: 593px;

        .main-title {
            margin-top: 32px;
            margin-bottom: 16px;
        }

        .main-description {
            margin-bottom: 16px;
        }
    }

    &-tag-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .btn.btn-tag,
        .btn.btn-link {
            margin-top: 8px;
            height: 32px;
            &:not(:last-child) {
                margin-right: 8px;
            }
        }

        @media only screen and (max-width: $md)  {
            flex-wrap: nowrap;
            overflow: hidden;
            overflow-x: auto;
        }
    }

    &-search {
        display: flex;
        margin-bottom: 40px;

        button.btn.btn-search.btn-search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            margin-left: 8px;
        }

        input {
            background: $light-yellow;
        }
    }

    &-buttons {
        display: block;
        align-items: center;

        .btn {
            margin-top: 8px;
        }
    }

    &-description {
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: $black;
    }
}

.main {
    /* Desktop Below */
    @media only screen and (max-width: $md)  {
        &-search {
            margin-top: 20px;
            margin-bottom: 24px;
        }

        &-title {
            margin-top: 32px;
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
        }

        &-description {
            text-align: center;
            max-width: 282px;
            margin: 0 auto 32px;
        }

        &-visual {
            background: transparent;
            height: 600px;
            margin-bottom: -32px;

            .container-fluid {
                background: $light-yellow;
                height: calc(100% - 133px);
            }
        }

        &-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;

            .btn:last-child:not(:first-child) {
                margin-top: 8px;
            }
        }

        &--help-page {
            margin-bottom: 0;

            .container-fluid {
                background: $light-yellow;
                height: calc(100% - 94px);
            }
        }

        &--content-page {
            height: max-content;
            background: transparent;

            .container-fluid {
                background: none;
            }

            .main-title {
                margin-top: 32px;
            }
        }

        &--tricks-page {
            height: 530px;

            .main-title {
                margin-top: 32px;
            }
        }
    }
}
