


.mobile {
    &-menu-container {

    }

    &-sub-menu {
        list-style: none;
        color: $black;
        padding: 0;
        margin: 0;
        width: 100%;

        .mobile-menu-item:last-child {
            border-bottom: none;
        }

        max-height: 0;
        overflow:hidden;
        transition: max-height 0.5s, overflow 0.5s 0.5s;
    }

    &-menu-items {
        list-style: none;
        color: $black;
        padding: 0;
        margin: 0;

        a {
            color: $black;
        }
    }

    &-menu-item--active {
        & > .mobile-sub-menu {
            max-height: 100vh;
            overflow:auto;
        }

        & > .icon {
            transform: rotate(180deg);
        }
    }

    &-menu-item {
        overflow: hidden;
        position: relative;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: $black;

        width: 100%;
        min-height: 56px;
        height: max-content;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        /*justify-content: space-between;*/
        border-bottom: 2px solid $black;

        &:first-child {
            border-top: 2px solid $black;
        }

        a {
            height: 56px;
            display: flex;
            align-items: center;
        }

        .icon {
            position: absolute;
            transition: 0.3s ease;
            right: 0;
            top: 15px;

        }
    }
}
