
main  {
    margin-top: 100px;

    @media only screen and (max-width: $md)  {
        margin-top: 60px;
    }
}

.icon {
    cursor: pointer;
    font-size: 24px;
}

.navigation {
    /*border: 1px solid;*/
    z-index: 5;
    background: $light-yellow;
    height: 60px;
    padding: 12px 12px 12px 24px;

    position: fixed;
    width: 100%;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-brand {

    }

    &-toggle {
        /*border: 1px solid;*/
        width: 48px;
        height: 48px;
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 12px;
        z-index: 6;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    &-right,
    &-left {
        display: flex;
        align-items: center;
    }

    button.btn.btn.btn {
        width: 130px;
        height: 48px;
    }

    &-search {
        margin-right: 38px;
    }

    &-search-container {
        width: calc(100%/12*10);
        margin-left: calc(100%/12*1);
        transform: translateY(-40px);

        position: fixed;
        left: 0;
        top: 0;
        z-index: 4;

        input, button {
            opacity: 0;
        }
    }

    &-search--inactive {
        transform: translateY(-40px);
        animation: animatetopback 0.4s;
    }

    &-search--active {
        transform: translateY(100px);
        animation: animatetop 0.4s;

        input, button {
            animation: animateFadeIn 0.7s;
            animation-delay: 0.4s;
        }
    }

    &-search-input {
        width: 100%;
        display: flex;
        padding: 24px;
        background: $light-blue;

        &:after {
            z-index: -1;
            border: 2px solid;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 16px;
            left: 16px;
            content: "";
        }

        .form-group {
            width: calc(100% - (48px + 8px));
        }

        button.btn.btn-search.btn-search {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            margin-left: 8px;
        }
    }
}

.menu {
    &-container {
        margin-left: 42px;
        line-height: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: $black;

        .icon {
            margin-left: 8px;
        }
    }

    &-items {
        flex-wrap: wrap;
        display: flex;
        padding: 0;
    }

    &-item {
        list-style-type: none;
        align-items: center;
        display: flex;
        width: max-content;

        &:not(last-child) {
            margin-right: 32px;
        }

        a {
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.full-menu {
    &-container {
        display: none;
        position: absolute;
        z-index: 5;
        left: 0;
        top: 0;

        width: 100%;
        height: 100vh;
        background: $light-yellow;

        &.active {
            display: block;
        }
    }
}

.navigation {
    /*Ipad to Desktop*/
    @media only screen and (min-width: $md) and (max-width: $lg) {
        .menu-container {
            font-size: 14px;
        }
    }

    /* Desktop */
    @media only screen and (min-width: $md)  {
        height: 100px;
        padding: 12px 45px 12px 35px;
    }

    /* Desktop Below */
    @media only screen and (max-width: $md)  {
        &-toggle {
           display: flex;
        }

        .menu-container,
        .language-container,
        .navigation-search {
            display: none;
        }

        &-search-container {
            display: none;
        }

        button.btn.btn.btn {
            font-size: 14px;
            height: 40px;
            width: 106px;
        }
    }
}

.language-menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

    &-item {
        list-style-type: none;
        font-weight: normal;
        font-size: 16px;
        line-height: 60px;

        & > * {
            color: $black;
        }

        &:not(:last-child) {
            margin-right: 36px;
        }
    }
}
