.study-card {

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

    &:not(:last-child) {
        margin-right: 55px;
    }

    .grid-content {
        max-height: unset !important;

        .btn {
            justify-content: flex-start;
        }

        .btn.btn-danger{
            height: 48px;
            padding: 12px 24px;
        }
    }

    .card-title {
        margin-bottom: 32px;
    }

    &-large {
        max-width: 708px;
        width: 100%;

        .grid-content {
            max-width: 708px;
            width: 100%;
        }
    }

    &-option {
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: $black;

        display: block;
        min-height: 54px;
        padding: 12px 0;
        position: relative;

        &:hover {
            text-decoration: none;
        }

        &:first-child {
            margin-top: 10px;
        }

        &:before {
            content: '';
            width: 100%;
            height: 2px;
            display: block;
            background: $black;
            position: absolute;
            top: 0;
        }

        &:last-child:after {
            content: '';
            width: 100%;
            height: 2px;
            display: block;
            background: $black;
            position: absolute;
            bottom: 0;
        }
    }

    &-option-container {
        display: flex;
        flex-direction: column;
    }
}


@media only screen and (min-width: $xxs) and (max-width: $md)  {
    .study-card {
        margin: 26px 16px;

        &:not(:last-child) {
            margin-right: 16px;
        }

        &-large {
            max-width: 100%;
            .grid-content {
                max-width: 100%;
                width: 100%;
            }
        }
        &-option {

        }
    }
}

@media only screen and (min-width: $md) and (max-width: $xl)  {
    .study-card {

        &-large {
            max-width: 50%;
            width: 50%;
        }
    }
}