/*.container-fluid {
    padding-right: 16px;
    padding-left: 16px;
}

.row {
    margin-right: -16px;
    margin-left: -16px;
}
*/

.border {
    /*border: 1px solid black;*/
    /*padding: 20px;*/

    &-red {
        border-color: red;
    }
}

.padding-0 {
    padding: 0;
}

.float-right {
    float: right;
}

.bg-primary {
    &--success {
        background: $dark-green;
    }

    &--info {
        background: $dark-blue;
    }

    &--warning {
        background: $dark-yellow;
    }

    &--danger {
        background: $dark-pink;
    }
}

.d-none {
    display: none;
}


@media only screen and (max-width: $md) {
    .stop-scroll {
        display: block;
        overflow: hidden;
    }
}

