/* COLORS */
$black: #000000;
$white: #FFFFFF;

$orange: #F4782D;
$green: #65BC46;
$blue: #00B3F0;
$yellow: #FBAE3E;
$pink: #EF4873;

$dark-yellow: #FDDFAC;
$dark-green: #AFEEC0;
$dark-blue: #99D8F3;
$dark-pink: #F7B7CA;

$light-yellow: #FEFDF1;
$light-green: #F1FCF4;
$light-blue: #EAF7FC;
$light-pink: #FDF1F5;

/* BREAK POINTS */

$xxs: "320px";  // mobile iphone 5
$xs: "375px";   // mobile
$sm: "768px";   // ipad
$md: "992px";   // ipad rotate
$lg: "1200px";  // desktop
$xl: "1440px";    // desktop extra large


$sm-below: "767px";   // ipad below
$md-below: "991px";   // ipad below