

.vector {
    &-layout {
        position: relative;
        width: max-content;
    }

    &-container-background {
        margin-left: -15px;
        max-width: 1116px;
        width: 200px;
        /*background: $light-pink;*/
        background: pink;

        height: 788px;
        margin-bottom: -690px;
    }

    &--drinking {
        margin: 0 auto;
    }

    &--helping {
        margin: 54px auto 0;
        transform: scale(1);
        transition: 0.3s ease;
    }

    &--thinking {
        margin: 54px auto 0;
        transform: scale(1);
        transition: 0.3s ease;
    }

    &--reading {
        transform: scale(1);
        transition: 0.3s ease;

        margin: 105.5px 0 0 -15px;
        width: 100%;
    }

    &--chilling {
        left: 0;
        bottom: 0;
        position: absolute;
        transform: translate(39%, -17px) scale(1);
        transition: 0.3s ease;
        display: none;

        /*border: 1px solid;*/
    }

    &--idea {
        margin: 57px auto 0;
        transform: scale(1);
        transition: 0.3s ease;
    }

    &-image {
        max-width: max-content;
    }

    &-image-container {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;

        height: 100%;
        width: 100%;

        &--drinking {
            img {
                margin: 9px 0 18px 26px;
                max-width: 383px;
                max-height: 272px;
            }
        }

        &--helping {
            left: -24px;
            top: 7px;

            img {
                margin: auto;
                max-width: 383px;
                max-height: 272px;
            }
        }

        &--thinking {
            left: -47px;
            top: 7px;

            img {
                margin: auto;
                max-width: 383px;
                max-height: 272px;
            }
        }

        &--reading {
            top: -105px;

            img {
                margin: auto;
                max-width: max-content;
                max-height: 200px;
                margin-left: -275px;
            }
        }

        &--chilling {
            left: -24px;
            top: 7px;

            img {
                margin: auto;
                max-width: 383px;
                max-height: 272px;
            }
        }

        &--idea {
            left: 50px;
            top: -22px;

            img {
                margin: auto;
                max-width: 169px;
                max-height: 211px;
            }
        }
    }

    &-background {
        pointer-events: none;
    }

    &-background-container {
        pointer-events: none;
        height: 100%;
        width: 100%;

        &--drinking {
            img {
                max-width: 299px;
                max-height: 299px;
            }
        }

        &--helping {
            img {
                max-width: 244.78px;
                max-height: 190.3px;
            }
        }

        &--thinking {
            transform: translate(46px, 33px);
            img {
                max-width: 212.4px;
                max-height: 176.92px;
            }
        }

        &--reading {
            transform: translate(130px, -53px);
            img {
                max-width: 160.96px;
                max-height: 122.22px;
            }
        }

        &--chilling {
            transform: translate(-75px, -34px);
            img {
                max-width: 244.78px;
                max-height: 190.3px;
            }
        }

        &--idea {
            img {
                max-width: 277px;
                max-height: 211px;
            }
        }
    }
}


@media only screen and (min-width: $md)  {
    .vector {
        &--drinking {
            float: right;
        }

        &--helping {
            transform: scale(0.6);
            margin: 89px auto 0;
        }

        &--thinking {
            transform: scale(0.6);
            margin: 21px auto 0;
        }

        &--reading {

            transform: scale(0.6);
            height: 355px;
            margin: 177.5px 0 -177.5px -15px;
            margin-left: -70px;
        }

        &--chilling {
            display: block;
            transform: translate(4%, 36px) scale(0.6);
            /*margin: 89px auto 0;*/
        }

        &--idea {
            transform: scale(0.6);
            margin: 104px 0 0;
        }

        &-container-background {
            width: calc(100%/12 * 10);
            height: unset;
            margin-bottom: 0;
        }


        &-image-container {
            &--drinking {
                img {
                    margin: 12px 0 24px 36px;
                    max-width: max-content;
                    max-height: max-content;
                }
            }

            &--helping {
                left: -134px;
                top: -37px;

                img {
                    margin: 12px 0 24px 36px;
                    max-width: max-content;
                    max-height: max-content;
                }
            }

            &--thinking {
                left: -248.5px;
                top: -61px;

                img {
                    margin: 0 0 24px 36px;
                    max-width: max-content;
                    max-height: max-content;
                }
            }

            &--reading {
                display: flex;
                justify-content: center;
                top: -300px;

                img {
                    margin: 0;
                    margin-right: -30%;
                    margin-left: 0;
                    max-width: max-content;
                    max-height: max-content;
                }
            }

            &--chilling {
                left: -134px;
                top: -37px;

                img {
                    /*margin: 12px 0 24px 36px;*/
                    max-width: max-content;
                    max-height: max-content;
                }
            }

            &--idea {
                left: 94px;
                top: -42px;

                img {
                    /*margin: 12px 0 24px 36px;*/
                    max-width: max-content;
                    max-height: max-content;
                }
            }
        }

        &-background-container {
            &--drinking {
                img {
                    max-width: max-content;
                    max-height: max-content;
                }
            }

            &--helping {
                img {
                    max-width: max-content;
                    max-height: max-content;
                }
            }

            &--thinking {
                margin-top: 60px;
                transform: unset;
                img {
                    max-width: max-content;
                    max-height: max-content;
                }
            }


            &--reading {
                width: 100%;
                display: flex;
                justify-content: center;
                transform: unset;

                img {
                    margin-top: -575px;
                    margin-right: -30%;
                    max-width: max-content;
                    max-height: max-content;
                }
            }

            &--chilling {
                img {
                    max-width: max-content;
                    max-height: max-content;
                }
            }

            &--idea {
                img {
                    max-width: max-content;
                    max-height: max-content;
                }
            }
        }
    }
}


@media only screen and (min-width: $lg) {
    .vector {
        &--helping {
            transform: scale(0.8);
        }

        &--thinking {
            transform: scale(0.8);
        }

        &--reading {
            transform: scale(0.8);
            margin-left: -105px;
        }

        &--chilling {
            transform: translate(22%, 9px) scale(0.8);
        }

        &--idea {
            transform: scale(0.8);
        }

        &-background-container {
            &--reading {
                img {
                    margin-top: -425px;
                }
            }
        }

        &-image-container {
            &--reading {
                top: -230px;
            }
        }
    }
}


@media only screen and (min-width: $xl) {
    .vector {
        &--helping {
            transform: scale(1);
        }

        &--thinking {
            transform: scale(1);
        }

        &--reading {
            transform: scale(1);
            margin-left: 0;
        }

        &--chilling {
            margin-left: 0;
            transform: translate(39%, -17px) scale(1);
        }

        &--idea {
            transform: scale(1);
        }

        &-background-container {
            &--reading {
                img {
                    margin-top: -335px;
                }
            }
        }

        &-image-container {
            &--reading {
                top: -183px;
            }
        }
    }
}
