

.video-hightlight {
    &-section {
        margin-bottom: 56px;

        .container-fluid {
            padding: 0;
            position: relative;

            iframe {
                border: none;
            }
        }

        .btn-link {
            margin-top: 24px;
        }

        .icon  {
            margin-left: 16px;
        }
    }

    &-preview {
        width: 100%;
        height: calc(((100vw / 12 ) * 10) / 1.8);
    }
}


.video-hightlight {
    /* Desktop Below */
    @media only screen and (min-width: $md)  {
        &-section {
            .btn-link {
                margin-top: 32px;
                margin-left: auto;
                width: max-content;
            }
        }
    }
}
