@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5igzc1');
  src:  url('../fonts/icomoon.eot?5igzc1#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5igzc1') format('truetype'),
    url('../fonts/icomoon.woff?5igzc1') format('woff'),
    url('../fonts/icomoon.svg?5igzc1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-instagram:before {
  content: "\e905";
}
.icon-logo .path1:before {
  content: "\e906";
  color: rgb(0, 0, 0);
}
.icon-logo .path2:before {
  content: "\e907";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path3:before {
  content: "\e908";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path4:before {
  content: "\e909";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path5:before {
  content: "\e90a";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path6:before {
  content: "\e90b";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path7:before {
  content: "\e90c";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path8:before {
  content: "\e90d";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path9:before {
  content: "\e90e";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path10:before {
  content: "\e90f";
  margin-left: -3.34375em;
  color: rgb(101, 188, 70);
}
.icon-logo .path11:before {
  content: "\e910";
  margin-left: -3.34375em;
  color: rgb(239, 72, 115);
}
.icon-logo .path12:before {
  content: "\e911";
  margin-left: -3.34375em;
  color: rgb(251, 174, 62);
}
.icon-logo .path13:before {
  content: "\e912";
  margin-left: -3.34375em;
  color: rgb(251, 174, 62);
}
.icon-logo .path14:before {
  content: "\e913";
  margin-left: -3.34375em;
  color: rgb(101, 188, 70);
}
.icon-logo .path15:before {
  content: "\e914";
  margin-left: -3.34375em;
  color: rgb(244, 120, 45);
}
.icon-logo .path16:before {
  content: "\e915";
  margin-left: -3.34375em;
  color: rgb(101, 188, 70);
}
.icon-logo .path17:before {
  content: "\e916";
  margin-left: -3.34375em;
  color: rgb(0, 179, 240);
}
.icon-logo .path18:before {
  content: "\e917";
  margin-left: -3.34375em;
  color: rgb(0, 179, 240);
}
.icon-logo .path19:before {
  content: "\e918";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path20:before {
  content: "\e919";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path21:before {
  content: "\e91a";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path22:before {
  content: "\e91b";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path23:before {
  content: "\e91c";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path24:before {
  content: "\e91d";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path25:before {
  content: "\e91e";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path26:before {
  content: "\e91f";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path27:before {
  content: "\e920";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path28:before {
  content: "\e921";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path29:before {
  content: "\e922";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path30:before {
  content: "\e923";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path31:before {
  content: "\e924";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path32:before {
  content: "\e925";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path33:before {
  content: "\e926";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path34:before {
  content: "\e927";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path35:before {
  content: "\e928";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path36:before {
  content: "\e929";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path37:before {
  content: "\e92a";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path38:before {
  content: "\e92b";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path39:before {
  content: "\e92c";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path40:before {
  content: "\e92d";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path41:before {
  content: "\e92e";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path42:before {
  content: "\e92f";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path43:before {
  content: "\e930";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-logo .path44:before {
  content: "\e931";
  margin-left: -3.34375em;
  color: rgb(0, 0, 0);
}
.icon-menu:before {
  content: "\e932";
}
.icon-play:before {
  content: "\e933";
  color: #fff;
}
.icon-search:before {
  content: "\e934";
}
.icon-youtube:before {
  content: "\e935";
}
