@media screen and (min-width: 600px){
    header > .navigation .navigation-left , 
    header > .navigation .navigation-left .menu-container , 
    header > .navigation .navigation-left .menu-container > ul{
        height: 100%;
    }
    .menu-container .has-mega-menu{
        position:static;
    }


    .menu-container .menu-item {
        width: auto;
    }
    .menu-container .has-mega-menu > ul:after {
        z-index:-1;
        border: 2px solid;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 16px;
        left: 16px;
        content: "";
    }

    .menu-container > ul {
        z-index: 100;
    }
    .menu-container  ul {
        padding: 0;
    }

    .menu-container a {
        text-decoration: none;
    }
    .menu-container li.mega-menu-column > a {
        font-weight: 600;
        padding-bottom: 15px;
    }

    .menu-container li.mega-menu-column.hide-name > a {
        visibility: hidden;
    }
    
    .menu-container > ul > ul li {
        margin: 0;
    }

    .menu-container li.has-mega-menu > .sub-menu {
        position: absolute;
        margin-top: 85px;
        top: 0px;
        /*z-index: 101;*/
        left:0px;
        right:0px;
        width: 100%;
        background: #EAF7FC;
    }

    .menu-container > ul > li.menu-item-has-children > ul.sub-menu {
        position: absolute;
        left: 999999999999px;
        padding: 40px;
        width: calc(100%/12*10); /* width equivalent to col-md-10 */
        margin-left: calc(100%/12*1); /* margin-left equivalent to col-md-offset-1 */
    }

    .menu-container li.has-mega-menu:hover, 
    .menu-container li.has-mega-menu:hover>.sub-menu{
        display: flex;
        flex-wrap: wrap;
        display: grid;
        left:0px;
        grid-template-columns: repeat(auto-fit,minmax(50%, 1fr));
    }
    .menu-container li.has-mega-menu:hover>.sub-menu ul,
    .menu-container li.has-mega-menu:hover>.sub-menu ul li {
        display: inherit;
    }

    .menu-container li.has-mega-menu > .sub-menu li.menu-item:not(last-child) {
        margin: 0;
    }

    .menu-container > ul > li.menu-item-has-children > a::after {
        content: '\e902';
        font-family: 'icomoon';
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        text-transform: none;
        line-height: 1;
        margin-left: 5px;
        font-size: 24px;
        vertical-align: middle;
    }

    .menu-container li.mega-menu-column, 
    .menu-container li.mega-menu-column > a, 
    .menu-container li.mega-menu-column > ul,
    .menu-container > ul li > ul li.mega-menu-column > ul li,
    .menu-container > ul li > ul li.mega-menu-column > ul li a,
    .menu-container > ul li > ul li.mega-menu-column > ul li  ul
    {
        flex-direction: column;
        width: 100%;
    }


    .menu-container > ul li > ul li.mega-menu-column > ul li  ul li {
        padding-left: 20px;
    }


    /* not mega menu */
    .menu-container > ul > li:not(.has-mega-menu):hover, 
    .menu-container > ul > li:not(.has-mega-menu):hover>.sub-menu{
        left:0px;
    }
    .menu-container > ul > li:not(.has-mega-menu):hover>.sub-menu ul,
    .menu-container > ul > li:not(.has-mega-menu):hover>.sub-menu ul li {
        display: inherit;
    }
    
    .menu-container > ul > li.menu-item-has-children:not(.has-mega-menu):hover > ul.sub-menu {
        padding: 15px;
        position: absolute;
        margin-top: 85px;
        margin-left: -20px;
        top: 0px;
        left: initial;
        width: fit-content;
        max-width: 300px;
        background: #EAF7FC;
    }

    .menu-container > ul > li.menu-item-has-children:not(.has-mega-menu) > ul:after {
        z-index:-1;
        border: 2px solid;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 16px;
        left: 16px;
        content: "";
    }
    /* not mega menu */

}
@media screen and (min-width: 992px){
    .menu-container li.has-mega-menu:hover>.sub-menu{
        grid-template-columns: repeat(auto-fit,minmax(33.3333%, 1fr)); 
    }
}
@media screen and (min-width: 1200px){
    .menu-container li.has-mega-menu:hover>.sub-menu{
        grid-template-columns: repeat(auto-fit,minmax(25%, 1fr)); 
    }
}

@media screen and (min-width: 600px){
    .menu-container li.mega-menu-column {
        width: 100%;
        max-width: 100%;
        min-height: 1px;
        flex: 1 0 calc(50%);
    }
}
@media screen and (min-width: 992px){
    .menu-container li.mega-menu-column {
        flex: 1 0 calc(33.333%);
    }
}
@media screen and (min-width: 1200px){
    .menu-container li.mega-menu-column {
        flex: 1 0 calc(25%);
    }
}